/* add new */

#page_add {
    padding: 0 40px 50px 40px;
    margin-top: 20px;
}
.content {
    background-color: white;
    border-radius: 30px;
}


/* image upload */
.container_images {
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
}
.container_images::-webkit-scrollbar{
    display: none; 
}
.add_image {
    display: inline-block;
    border-radius: 60px;
    width: 250px;
    height: 400px;
    background-color: var(--gray);
    margin-right: 20px;
    text-align: center;
}
.add_image:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.add_image img {
    width: 30%;
    margin: auto;
    vertical-align: middle;
}
.file_uploader {
    display: none;
}

.grid_container_category, .grid_container_sub_category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    grid-gap: 1.5em;
}
.grid_category, .grid_sub_category {
    width: 100%;
    display: table;
    text-align: center;
}
.category_image {
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.category_image span {
    font-family: 'Poppins';
    font-size: 1.2em;
}
.sub_category {
    display: none;
    width: 100%;
    transition: 0.2s;
}
#page_add .show_sub {
    display: block;
}
.grid_container_size {
    display: grid;
    height: 80px;
    line-height: 60px;
    padding: 10px;
    grid-template-columns: 120px 1fr;
}
.size_region {
    width: 80px;
    height: 60px;
    background-color: var(--gray);
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    margin-right: 20px;
}


.size_region_dropdown {
    display: none;
    position: absolute;
    background-color: white;
    width: 80px;
    height: 60px;
    margin-top: 60px;
}
.grid_container_size .show {
    display: block;
}
.size_key_container {
    display: inline-block;
    display: 100%;
}
.size_key {
    width: 90px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 6px;
    height: 60px;
}

.brand {
    display: block;
    padding: 0px 10px;
}

.brand_input {
    display: block;
    width: 100%;
    padding: .375rem 1.75rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1;
    background-color: var(--gray);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
    outline: none;
    border: none;
}

.brand_autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}
.brand_autocomplete_items {
    position: absolute;
    border: none;

    z-index: 10;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    perspective: 1px;
    
    border-radius: 30px;
    overflow: hidden;
}
.brand_autocomplete_items div {
    padding: 10px 1.75rem;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--gray);
}
.brand_autocomplete_items div:hover {
    /*when hovering an item:*/
    background-color:var(--black);
    color: white;
}
.brand_autocomplete_active {
    background-color:var(--black) !important;
    color: white;
}


.grid_container_measurement, .grid_container_composition, .grid_container_season {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-gap: 1.5em;
}

.label_with_input {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    width: 200px;
}
.label_with_input .part {
    font-size: 1.2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.measurement_input, .composition_input, .season_input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    margin: 0 16px 0 10px;

    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1;
    background-color: var(--gray);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    outline: none;
    border: none;
    text-align: center;
}

.submit_button {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}
.generate_script {
    width: 200px;
    height: 60px;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: var(--purple);
}

@media screen and (max-width: 620px) {
    #page_add h1 {
        font-size: 1.5em;
    }
    .add_image {
        width: 180px;
        height: 260px;
        border-radius: 30px;
    }
    .grid_container_category {
        grid-template-columns: auto auto auto;
    }
    .grid_container_measurement {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 400px) {
    #page_add {
        padding: 0 20px 20px 20px;
    }
    #page_add h1 {
        font-size: 1.5em;
    }
    #page_add .subheader {
        padding: 20px 0 0 0;
    }
    .add_image {
        width: 120px;
        height: 200px;
        border-radius: 20px;
    }
    .grid_container_category {
        grid-template-columns: auto auto auto;
        grid-gap: 1em;
    }
    .category_image {
        height: 50px;        
    }
    .category_image span {
        line-height: 50px;
        font-size: 1em;
    }
    .grid_container_sub_category {
        grid-template-columns: 1fr 1fr;
    }
    .label_with_input {
        width: 150px;
        grid-template-columns: 80px 1fr;
    }
    .label_with_input .part {
        font-size: 1em;
    }
    
    .grid_container_size{
        grid-template-columns: 80px 1fr;
    }   
    .size_region {
        width: 60px;
        height: 40px;
        
        z-index: 99;
    }
    .size_region_dropdown {
        margin-top: 40px;
    
        z-index: 99;
    }
    .size_key {
        width: 60px;
        height: 40px;
        margin-right: 10px;
    }
    .size_key_container label {
        padding: 0;
        line-height: 40px;
    }
    .grid_container_composition {
        grid-template-columns: auto auto;
    }
    .grid_container_season {
        grid-template-columns: auto auto;
    }
    .measurement_input, .composition_input, .season_input {
        font-size: 1.4em;
        padding: 0.3em 0;
        letter-spacing: 0;
    }
}