.filter_composition_container {
    display: inline-block;
    margin: 20px;
}
.filter_composition, .filter_measurement {
    display: inline-block;
    
    margin: 0 20px 10px 0;
}
.filter_composition label, .filter_measurement label{
    padding: 0px 20px;
    border-radius: 30px;
}

.filter_measurement_value {
    display: inline-block;
}