#page_item {
    padding-bottom: 40px;
    margin: auto;
}
#page_item .intro {
    margin: 0 0 30px 0;
}
.content {
    width: 100%;
    border-radius: 30px;
}
.view_item_image {
    height: 800px;
    text-align: center;
    background-color: white;
    border-radius: 30px;

}
.view_item_image img {
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.view_details {
    background-color: white;
    margin-top: 40px;
    padding-top: 40px;
    border-radius: 30px;
}
.grid_container_view_details {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1.5em;
}
.view_measurement {
    max-width: 520px;
}
.view_measurement img {
    width: 100%;
}
.label_with_value {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    width: 200px;
    margin-bottom: 10px;
}
.comp_label {
    font-weight: 600;
}