#page_item {
    padding: 40px;
    margin-top: 20px;
}
.content {
    background-color: white;
    border-radius: 30px;
}
.view_item_image img {
    width: 100%;
    border-radius: 30px;
}
.view_brand {
    margin-top: 20px;
    text-align: center;
}
.view_category {
    text-align: center;
}
.view_details {
    margin-top: 40px;
    border-top: solid 1px rgb(197, 197, 197);
    padding-top: 40px;
}
.grid_container_view_details {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-gap: 1.5em;
}
.view_measurement {
    max-width: 520px;
}
.view_measurement img {
    width: 100%;
}
.label_with_value {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    width: 200px;
    margin-bottom: 10px;
}
.comp_label {
    font-weight: 600;
}