/* #bg {
    background: linear-gradient(319deg, #37bf9c, #6437bf, #6e3959, #39626e);
    background-size: 800% 800%;

    -webkit-animation: bg 33s ease infinite;
    -moz-animation: bg 33s ease infinite;
    animation: bg 33s ease infinite;
}

@-webkit-keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */

#bg {
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgb(1, 23, 33) 0%, 
          rgb(23, 35, 95) 25%, 
          rgb(28, 84, 71) 51%, 
          rgb(65, 29, 42) 100%
    );  
    animation: AnimateBG 20s ease infinite;
    
}
  
@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.overlay {
    position: absolute;
    z-index: -9;
    top: 0;

    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, rgb(0, 0, 0,0.75), pink);
    mix-blend-mode: overlay;
}

video {
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;

}

.header {
    position: relative;
    z-index: 11;
    padding: 20;
}

ul {
    display: block;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.header a {
    z-index: 1;
    color: white;
    text-decoration: none;
    padding: 14 16;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 0.2s;
}

.header a:hover {
    letter-spacing: 6px;
}

/*
.header a:hover:not(){
    background-color: rgba(0, 0, 0, 0.616);
}
*/




.text {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: rgb(256,256,256);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.intro {
    margin-top: 50px;
    text-align: center;
}
.intro span {
    vertical-align: middle;
    display: inline-block;    
    z-index: 1;
    color: rgb(256,256,256);
    display: flex;
    justify-content: center;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.intro .sub {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2em;
}


/* search button */
.search {
    float: center;
    position: relative;
    flex-wrap: wrap;
    align-items: stretch;
    width: 60%;
    margin: auto;
    display: block;
    padding-top: 60;
}

.search_input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #313131;
    background-color: rgb(256,256,256,0.7);
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.recently_added {
    padding: 40px;
    width: 100%;
    display: block;
}

.recently_added h1 {
    margin-bottom: 1em;
}

/* responsive image grid */
.grid_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 580px 200px;
    justify-content: space-evenly;
    grid-gap: 1em;
}

.grid_item {
    border-radius: 30px;
    position:relative;
    z-index:1;
    overflow: hidden;
}

.grid_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
}

.grid_item img:hover{
    transform: scale(1.1);
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}




/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .grid_container {
        grid-template-columns: auto auto auto;
    }

}

@media screen and (max-width: 960px) {
    .grid_container {
        grid-template-rows: 360px 200px;
    }

}

@media screen and (max-width: 620px) {
    .grid_container {
        grid-template-columns: auto auto;
    }

}