<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{{ url_for('static', filename='js/db.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('send_static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('send_static', filename='css/add.css') }}">

    <link rel="stylesheet" href="{{ url_for('send_static', filename='css/filter.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap" rel="stylesheet">
    <title>Panda Joe Closet</title>
</head>

<body>

    <section class="header">
        <script>displayGlobalMenu(2);</script>
        <div class="intro">
            <span class="main">Filter</span>
            <span class="sub">what you want</span>
        </div>
    </section>
    <div id="bg"></div>
    <div class="overlay"></div>

      

    <section class="content narrow">
        <div class="subheader">
            <h1>category</h1>
        </div>    
        <div class="grid_container_category">
        </div>
        <div class="sub_category">
            <div class="subheader">
                <h1>sub</h1>
            </div>    
            <div class="grid_container_sub_category">
                
                <script>displayFilterCategory();</script>
                <script>displayFilterSubCategory();</script>
            </div>
        </div>
        
        <div class="filter_category">
            <div class="grid_container">
                
            </div>
        </div>
        <div class="subheader">

            <h1>size</h1>
        </div>
        <div class="filter_size">
            <script>displayFilterSize();</script>
        </div>
        <div class="subheader">
            <h1>brand</h1>
        </div>
        <div class="brand">
            <div class="brand_autocomplete">
                
            <input type="text" id="brand_search" class="brand_input" name="brand" placeholder="" autocomplete="off"/>
            <script>    autocomplete(document.getElementById("brand_search"), brandList);</script>
            </div>
        </div>
        <div class="subheader">

            <h1>details</h1>
        </div>
        <div class="filter_composition_container">
            <script>displayCompositionFilter();</script>
            <div class="filter_composition">
            </div>
        </div>
    </section>
    <div class="submit_button">
        <button class="generate_script">Apply filters</button>
    </div>
</body>
<footer>

</footer>